<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Profil
        </div>
        <div class="card-body">
            <p><a href="{{ path('userProfil_profil_index') }}">mon profil</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Emprunts
        </div>
        <div class="card-body">
            <p><a href="{{ path('userProfil_loans_index') }}">Mes emprunts</a></p>
            
        </div>
    </article>
    
   
</aside>